@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modern .NET Core Starter Kit with Onion Architecture</h1>
    <p>Featuring ASP.NET Core MVC, Identity, Web API, Tailwind CSS, and Unit Testing</p>
</div>
