<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SysproConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Connection" value="data source=mail.oapl.com.au;initial catalog=OAPL_COSP;user id=syspro_dev;password=Syspr0$;persist security info=True" />
    <add key="SysproConnection" value="data source=mail.oapl.com.au;initial catalog=SysproCompanyD;user id=syspro_dev;password=Syspr0$;persist security info=True" />
    <!--Bizsoft LocalDev
    <add key="Connection" value="data source=SYSPRO-HYPERV;initial catalog=OAPL_COSP;user id=sa;password=P@$$w0rd;persist security info=True" />
    <add key="SysproConnection" value="data source=SYSPRO-HYPERV;initial catalog=SysproCompanyD;user id=sa;password=P@$$w0rd;persist security info=True" />-->
    <add key="WCFHostAddress" value="20001" />
    <add key="WCFServiceRequest" value="SYSPROWCFService/Rest/SYSPROImageThumbnail/{0}/{1}/{2}?enetGuid={3}&amp;Width=600&amp;Height=400" />
  </appSettings>
  <applicationSettings>
    <SysproConnector.Properties.Settings>
      <setting name="SysproConnector_SysproQueryService_queryclass"
          serializeAs="String">
        <value>http://win-bajri55dor7/sysprowebservices2.0/query.asmx</value>
      </setting>
      <setting name="SysproConnector_SysproSetupService_setupclass"
          serializeAs="String">
        <value>http://win-bajri55dor7/sysprowebservices2.0/setup.asmx</value>
      </setting>
      <setting name="SysproConnector_SysproTransactionService_transactionclass"
          serializeAs="String">
        <value>http://win-bajri55dor7/SysproWebservices2.0/transaction.asmx</value>
      </setting>
      <setting name="SysproConnector_SysproUtilityService_utilitiesclass"
          serializeAs="String">
        <value>http://win-bajri55dor7/sysprowebservices2.0/Utilities.asmx</value>
      </setting>
    </SysproConnector.Properties.Settings>
  </applicationSettings>
</configuration>