@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row text-center mt-4" aria-labelledby="bizsoftTitle" style="justify-content: center;">
        <h1 id="bizsoftTitle">Welcome to Bizsoft Business Incenter</h1>
        <p class="lead">
            Empowering your business with innovative software solutions and professional services tailored for success.
        </p>
        <p>
            <a href="#contact" class="btn btn-primary btn-md">Get in Touch &raquo;</a>
        </p>
    </section>
</main>
